@page "/about"

<h3>About CoreConnect</h3>

<p>
    Project Repo: <a href="https://github.com/ghubprime/CoreConnect">https://github.com/ghubprime/CoreConnect</a>
</p>
<p>
    Open-Source Licenses: <a href="/credits">Credits</a>
</p>
<p>
    Version: @(AppVersionHelper.GetAppVersion())
</p>
